{% extends 'base.html.twig' %}
{% block title 'Gérer les biens' %}
{% block body %}
<div class="container mt-4">
    <h1>Gérer les biens</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            <a href="" class="close">x</a>
            {{ message }}
        </div>
    {% endfor %}
    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row align-items-end">
                <div class="col">
                    {{ form_row(form.title) }}
                </div>
                <div class="col" hidden>
                    {{ form_row(form.minSurface) }}
                </div>
                <div class="col" hidden>
                    {{ form_row(form.maxPrice) }}
                </div>

                <div class="col">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Rechercher</button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for property in properties %}
                <tr>
                    <td>{{ property.title }}</td>
                    <td>
                        <a href="{{ path('admin.property.edit', {id: property.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('admin.property.delete', {id: property.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vriaement sûr?')">
                            <input type="hidden">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(properties) }}
    </div>
    <div class="text-right">
        <a href="{{ path('admin.property.new') }}" class="btn btn-primary">Créer un nouveau bien</a>
    </div>
</div>

{% endblock %}